<div id="forest-graph">
    <div class="forest-body">
        {% for row in userComputed.forest.trees %}
        <div class="forest-row">
            {% for tree in row %}
            {% if tree[0] == 0 %}
            <span class="tree plane}">
                <span></span>
            </span>
            {% else %}
            <a class="tree" href="{{tree[1]}}" title="{{tree[2]}}">
                <span class="emoji-icon" style="font-size: {{5 + (10 * tree[3])}}px;">{{ tree[0] }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="forest-legends">
        {% for count in userComputed.forest.legends %}
        <div class="stat"><span class="icon">{{ count.icon }}</span>{{count.count}} {% if count.count > 1 %}{% if count.plural %}{{count.plural}}{% else %}{{count.label}}s{% endif %}{% else %}{{count.label}}{% endif %}</div>
        {% endfor %}
    </div>
</div>
